<div class="bg-slate-100 dark:bg-gray-700">
  <nav class="bg-white mb-11 border-gray-200 dark:bg-gray-900">
    <div
      class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4"
    >
      <a href="https://flowbite.com" class="flex items-center">
        <img
          src="https://flowbite.com/docs/images/logo.svg"
          class="h-8 mr-3"
          alt="Flowbite Logo"
        />
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >Flowbite</span
        >
      </a>
      <div class="flex items-center">
        <a
          href="tel:5541251234"
          class="mr-6 text-sm text-gray-500 dark:text-white hover:underline"
          >(555) 412-1234</a
        >
        <a
          href="#"
          class="text-sm text-blue-600 dark:text-blue-500 hover:underline"
          >Login</a
        >
      </div>
    </div>
  </nav>
  <div class="flex px-3 justify-center">
    <div
      style="width: 90%"
      class="flex flex-col justify-start lg:flex-row md:flex-row p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="px-3 mb-3 w-full md:w-1/4 lg:w-1/4 xl:w-1/4">
        <label
          for="countries"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Select Country</label
        >
        <select
          [(ngModel)]="selectedCountry"
          (change)="changeSpeakers(selectedCountry)"
          id="countries"
          class="appearance-none w-full max-w-full px-4 py-3 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option [ngValue]="undefined" hidden>Select Country</option>
          <option
            *ngFor="let country of countries"
            [ngValue]="country.code"
            style="background-image: url(assets/flags/4x3/ac.svg)"
          >
            <span></span>
            {{ country.country }}
          </option>
        </select>
      </div>
      <div class="px-3 mb-3 w-full md:w-1/4 lg:w-1/4 xl:w-1/4">
        <label
          for="voice"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Select Voice</label
        >
        <select
          [disabled]="!selectedCountry"
          [(ngModel)]="selectedVoice"
          (change)="speak()"
          id="voice"
          class="appearance-none w-full max-w-full px-4 py-3 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option [ngValue]="undefined" hidden>Select Voice</option>
          <option *ngFor="let lang of filteredVoices" [ngValue]="lang">
            {{ lang.name.slice(10) }}
          </option>
        </select>
      </div>
      <div class="px-3 mb-4 w-full md:w-1/4 lg:w-1/4 xl:w-1/4">
        <label
          for="large-range"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Voice Speed -- <span class="bg-lime-100 p-3 rounded-full">{{ speed }}</span></label
        >
        <input
          id="large-range"
          type="range"
          step="0.25"
          min="0"
          max="10"
          [(ngModel)]="speed"
          class="w-full h-3 bg-gray-200 rounded-lg appearance-none cursor-pointer range-lg dark:bg-gray-700"
        />
      </div>
      <div class="px-3 mb-4 w-full md:w-1/4 lg:w-1/4 xl:w-1/4">
        <label
          for="large-range"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Pitch -- <span class="bg-lime-100 p-3 rounded-full">{{ pitch }}</span></label
        >
        <input
          id="large-range"
          type="range"
          min="0"
          [(ngModel)]="pitch"
          step="0.25"
          max="2"
          class="w-full h-3 bg-gray-200 rounded-lg appearance-none cursor-pointer range-lg dark:bg-gray-700"
        />
      </div>
    </div>
  </div>

  <div class="px-3 flex justify-center">
    <div
      style="width: 90%"
      class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <form>
        <div>
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          ></label>
          <textarea
            [value]="texttospeech"
            (input)="onValueChange($event)"
            id="message"
            rows="10"
            class="w-full block p-5 text-lg text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Enter your text here..."
          ></textarea>
        </div>

        <div
          class="flex items-center flex-col lg:flex-row md:flex-row lg:justify-between md:justify-between py-5 border-t dark:border-gray-600"
        >
          <div>
            <button
              (click)="speak()"
              class="inline-flex items-center justify-center p-0.5 mb-2 mr-4 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
              >
                Play
              </span>
              <span class="px-1">
                <svg
                  class="w-6 h-6 text-white dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 10 16"
                >
                  <path
                    d="M3.414 1A2 2 0 0 0 0 2.414v11.172A2 2 0 0 0 3.414 15L9 9.414a2 2 0 0 0 0-2.828L3.414 1Z"
                  />
                </svg>
              </span>
            </button> 
            <button 
              class="inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
              >
                Download
              </span>
              <span class="px-1">
                <svg
                  class="w-6 h-6 text-white dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 18"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M8 1v11m0 0 4-4m-4 4L4 8m11 4v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3"
                  />
                </svg>
              </span>
            </button>
          </div>
          <div>
            <button
              (click)="stop()"
              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
              >
                Stop
              </span>
              <span class="px-1">
                <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1.707 2.707 5.586 5.586a1 1 0 0 0 1.414 0l5.586-5.586A1 1 0 0 0 13.586 1H2.414a1 1 0 0 0-.707 1.707Z"/>
              </svg>
              </span>
            </button>
            <button
              (click)="reset()"
              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
              >
                Reset
              </span>
              <span class="px-1">
                <svg
                  class="w-6 h-6 text-white dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 16"
                >
                  <path
                    d="M19 0H1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1ZM2 6v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6H2Zm11 3a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8a1 1 0 0 1 2 0h2a1 1 0 0 1 2 0v1Z"
                  />
                </svg>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div>
    <footer class="bg-white rounded-lg shadow dark:bg-gray-900 my-16">
      <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <a
            href="https://flowbite.com/"
            class="flex items-center mb-4 sm:mb-0"
          >
            <img
              src="https://flowbite.com/docs/images/logo.svg"
              class="h-8 mr-3"
              alt="Flowbite Logo"
            />
            <span
              class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
              >Flowbite</span
            >
          </a>
          <ul
            class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
          >
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Contact</a>
            </li>
          </ul>
        </div>
        <hr
          class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <span
          class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
          >© 2023
          <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>.
          All Rights Reserved.</span
        >
      </div>
    </footer>
  </div>
</div>